temp/genScript/deptment.dtd

<!ELEMENT deptment
(
        DEPTNO
       ,DEPT-NAME
       ,DEPT-MGRNO
       ,DEPT-ADMRDEP
       ,DEPT-LOC
       ,PFK_COMPNAME
)>

<!ELEMENT DEPTNO     (#PCDATA)>
<!ELEMENT DEPT-NAME     (#PCDATA)>
<!ELEMENT DEPT-MGRNO     (#PCDATA)>
<!ELEMENT DEPT-ADMRDEP     (#PCDATA)>
<!ELEMENT DEPT-LOC     (#PCDATA)>
<!ELEMENT PFK_COMPNAME     (#PCDATA)>
